<div=>
 {{#each this}}
  <section>
    <div>
    {{user.username}} at {{created_at}}
    </div>
    <div>
    {{post_id}}
    </div>
    <div>
    {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>