<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Park Ranger</title>
  {{!-- <link rel="stylesheet" href="../../public/stylesheet/style.css"> --}}
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Park Ranger</a>
      </h1>
      <nav>

      <a href="/dashboard" class="nav-header" >dashboard</a>
      <button id="logout" class="nav-header">logout</button>
      <a href="/login" class="nav-header">login</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <h2>Thanks for Joining us!</h2>
      <h3>Made by the Park Ranger Dev Team</h3>
        <div>
          &copy;2022
        </div>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>
</html>