*{
margin: 0;
padding: 0;
}
.nav-header{
color:black;
}

.nav-link {
  color: black;
}

h2, h3{
  font-size: 15px;
}
.login-form, .signup-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}