<section>
  <h2>Create New review</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Review</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
   <div>
       <label type="number" for="rate">Rate out of 5</label>
       <input type="text" name="" id="rate">
   </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your review</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
{{!--  dispaly each review--}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/public/javascript/add-park.js"></script>
