<section>
  <h2>Create New review</h2>

  <form class="new-park-form">
    <div>
      <label for="post-title">Park Name</label>
      <input type="text" id="park-name" name="park-name" />
    </div>
   <div>
       <label type="number" for="rate">Review</label>
       <input type="text" name="" id="rate">
   </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your review</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
{{!--  dispaly each review--}}
{{> postinfo post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-park.js"></script>
