
<h3>Login</h3>
<form class="login-form">
  <div class="mb-3">
    <label for="#signin-email" class="form-label">Email Address</label>
    <input type="text" class="form-control" id="#signin-email" aria-describedby="emailHelp" style="background-color: forestgreen;">
  </div>
  <div class="mb-3">
    <label for="#signin-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="#signin-password" style="background-color: forestgreen;">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>



<h4>Sign Up</h4>
<form class="signup-form" style="background-color: rgb(204, 204, 204);">
  <div class="mb-3">
    <label for="#signup-email" class="form-label">Email address</label>
    <input type="text" class="form-control" id="#signup-email" aria-describedby="emailHelp" style="background-color: forestgreen;">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="#signup-username" class="form-label">Username</label>
    <input type="text" class="form-control" id="#signup-username" style="background-color: forestgreen;">
  </div>
  <div class="mb-3">
    <label for="#signup-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="#signup-password" style="background-color: forestgreen;">
  </div>
  <button type="submit" class="btn btn-success">Sign Up</button>
</form>


<script src="/public/javascript/sign-in.js"></script>
<script src="/public/javascript/sign-up.js"></script>