{{> postinfo post}}
{{#if loggedIn}}
<form class="comment-form">
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" name="comment-body"id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
  <button type="submit" class="btn btn-success">Add Comment</button>
</div>
</form>
{{/if}}


{{> comment post.comment}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{!-- <script src="/javascript/"></script> --}}
{{/if}}