

{{>postinfo post}}
{{#if loggedIn}}
  <form>
   <div>
    <textarea></textarea>
   </div>

   <div>
    <button type="submit">Comment</button>
    <button type="button">Upvote</button>
   </div>
  </form>
{{/if}}

{{> comment post.comment}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{!-- <script src="/javascript/"></script> --}}
{{/if}}